# Python
venv/
**/__pycache__/
*.pyc
.env

# Data and Models
datasets/
data/processed/*.joblib
data/models/*.joblib
!datasets/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep

# Project Specific
src/ml/train_op.txt
src/utils/benchmark.txt

# IDEs
.vscode/